@import "colors";

#navBox {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  #nav {
    width: 85%;
    padding-top: 1.5vh;
  }
  .link {
    margin: 0 1vh;
    border-top: 2px solid rgba(255, 255, 255, 0);
  }
  p,
  .link {
   font-size: 2.6vh;
  }
  .activeLink,
  .link:hover {
    color: $linkAction;
    border-top: 2px solid $linkAction;
  }
  .ho {
    color: black;
  }
}

#barBox {
  p {
    color: $link;
  }
}
#links {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 70%;
}
#bar1 {
  display: none;
}
#links {
  display: none;
}
